body {
    font-family: Arial, sans-serif;
    background: #f5f7fa;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.header{
    text-align: center;
    background-color: #45a049;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 60%;
    background-color: darkslategray;
    visibility:hidden;
}
.menu{
    width: 15%;
}
.close_menu{
    width: 30%;   
}
.menu_close{
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;
}
nav .links{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 15px;
    margin-top: 5px;
}
nav a{
    color: white;
    text-decoration: none;
    margin-top: 10px;
}
hr{
    width: 100%;
}
form {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 10px;
}
#form{
    max-width: 500px;
    margin: auto;
}
.content > div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="date"],
input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 24px;
}

.ori_choc label {
    display: block;
    margin: auto;
    font-weight: 20px;
    width: 60%;
    margin-bottom: 20px;
    
}

.btn {
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background-color: #45a049;
}
/*******PRODUKTE********/
.galey{
    max-width: 500px;
    margin: auto;
}.galery_produkt{
    max-width: 350px;
    height: 552px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}
.original{
    background: url(../assets/images/original.png) center;
}
.choc{
    background: url(../assets/images/choc.png) center;
}
.performance{
    background: url(../assets/images/performance.png) center;
}
/*******Responsive********/
@media (max-width: 500px) {
    #form{
        margin: 5px;
    }
}
